<footer>
    <div class="w-100 bg-dark py-5 text-white">
        <div class="container px-4 py-5">
            <div class="row">
                <div class="col-sm mb-5">
                    <a class="navbar-brand" href="#">
                        <img class="logo-sm" src="../../assets/logo.png" />
                    </a>
                </div>
                <div class="col-sm mb-3">
                    <h5 class="wremena text-orange">Brazil</h5>
                    <span class="text-orange">1725 I Street NW, Suite 300</span><br />
                    <span class="text-orange">Washington, DC - USA</span><br />
                    <span class="text-orange">+1 (202) 215 9664</span>
                </div>
            </div>

            <hr class="bg-gray" />
            <div class="row credits">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <span class="text-orange">©{{ year }} Eco Power</span>
                </div>
                <div class="col-sm">
                    <a href="terms-and-conditions" class="text-orange">Terms and Conditions</a>
                </div>
                <div class="col-sm">
                    <a href="privacy-policy" class="text-orange">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>