<div class="w-100 bg-light pt-5">
    <div class="container py-5 text-center container-details">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col">
                    <h4 class="mb-5">Importancia da Energia Limpa</h4>
                    <p>
                        A energia sustentável é um dos pilares essenciais para o futuro sustentável do nosso planeta. Em
                        um mundo onde a demanda por energia está em constante crescimento, é crucial reconhecer a
                        importância da transição para fontes sustentáveis, como a solar, eólica, hidrelétrica e outras
                        formas renováveis de energia.
                        A importância da energia sustentável não pode ser subestimada. Além de proteger o meio ambiente
                        e mitigar os impactos das mudanças climáticas, ela também oferece oportunidades significativas
                        para o desenvolvimento econômico, a segurança energética e a justiça social. Investir em energia
                        sustentável não é apenas uma escolha sábia, mas uma necessidade urgente para garantir um futuro
                        próspero e sustentável para as gerações presentes e futuras.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>