<div class="w-100 bg-light pt-5">
    <div class="container py-5 text-center container-details">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col">
                    <h4 class="mb-5">Sobre nós</h4>
                    <p>
                        Somos uma empresa criada e pensada para o aprimoramento da utilização da energia renovável
                        global, trazendo transparência e economia para você. Conheça nossos serviços, e caso tenha
                        interesse, veja nossa aba informativa (também muito importante), para conferir nossos objetivos e
                        metas sobre a reutilização de energia limpa.
                    </p>
                </div>
                <div class="col">
                    <img class="img-standard" src="assets/painel-solar.webp">
                </div>
            </div>
        </div>
    </div>
</div>
