<div class="w-100 bg-light pt-5">
    <div class="container py-5 text-center container-details">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img alt="'AMIGO' DANDO O BUMBUM" src="">
                    <p>"AMIGO" DANDO O BUMBUM</p>
                </div>
                <div class="col">
                    <img alt="FREQUENCIA QUE O 'AMIGO' DA O BUTAO" src="">
                    <p>FREQUENCIA QUE O "AMIGO" DA O BUTAO</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img alt="'AMIGO' DANDO O CANECO PRO VIADO, SIM LUCA, AQUELE VIADO" src="">
                        <p>"AMIGO" DANDO O CANECO PRO VIADO, SIM LUCA, AQUELE VIADO</p>
                    </div>
                    <div class="col">
                        <img alt="'AMIGO' NOS TRAINDO" src="">
                        <p>"AMIGO" NOS TRAINDO</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img alt="'AMIGO'..." src="">
                        <p>"AMIGO"...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>