<div class="w-100 bg-light pt-5">
    <div class="container py-5 text-center container-details">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col">
                    <img class="img-standard" src="assets/sustentavel.jpeg">
                </div>
                <div class="col">
                    <h4 class="mb-5">Por que escolher por fontes de energia sustentáveis?</h4>
                    <p>
                        Optar por fontes de energia como solar, eólica ou hidrelétrica não só contribui para a
                        preservação do meio ambiente, mitigando as emissões de gases de efeito estufa e o consumo de
                        recursos finitos, mas também oferece uma independência energética maior, reduzindo a
                        vulnerabilidade a flutuações nos preços dos combustíveis fósseis. Além disso, ao investir em
                        tecnologias renováveis, os clientes estão promovendo inovação e contribuindo para um futuro mais
                        sustentável e resiliente para as gerações futuras.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>