<div class="w-100 bg-light pt-5">
    <div class="container py-5 text-center container-details">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col">
                    <h2 class="text-center">Economia com Energia Solar</h2>
                    <p class="text-center">Veja quanto você pode economizar ao optar por energia solar.</p>
                    <div class="row">
                        <div class="col-md-4 mb-1">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Fatura Mensal: R$ 200</h5>
                                    <p class="card-text">Economia Anual: R$ 240</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Fatura Mensal: R$ 300</h5>
                                    <p class="card-text">Economia Anual: R$ 546</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Fatura Mensal: R$ 400</h5>
                                    <p class="card-text">Economia Anual: R$ 672</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Fatura Mensal: R$ 500</h5>
                                    <p class="card-text">Economia Anual: R$ 840</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Fatura Mensal: R$ 600</h5>
                                    <p class="card-text">Economia Anual: R$ 1008</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Fatura Mensal: R$ 700</h5>
                                    <p class="card-text">Economia Anual: R$ 1176</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Fatura Mensal: R$ 800</h5>
                                    <p class="card-text">Economia Anual: R$ 1344</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Fatura Mensal: R$ 900</h5>
                                    <p class="card-text">Economia Anual: R$ 1512</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Fatura Mensal: R$ 1000</h5>
                                    <p class="card-text">Economia Anual: R$ 1680</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>