<div class="w-100 bg-light pt-5">
    <div class="container py-5 text-center container-details">
        <div class="container pad">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col">
                    <p>
                        oferecemos soluções energéticas sustentáveis para o seu futuro e o do planeta. Nosso compromisso
                        é fornecer não apenas energia renovável, mas também orientação especializada para otimizar o seu
                        consumo e reduzir o impacto ambiental. Aqui está uma visão geral dos nossos principais serviços:
                    </p>
                </div>
            </div>
        </div>
        <div class="container pad">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col">
                    <p>
                        1. Venda de Energia Renovável:
                        Nossa empresa oferece uma gama de opções para clientes interessados em adotar energia renovável.
                        Isso inclui venda de energia limpa acumulado(que não é utilizada), para atender às necessidades
                        específicas de residências, empresas e comunidades. Com nossa experiência e conhecimento
                        técnico, ajudamos nossos clientes a fazer a transição para fontes de energia limpa,
                        proporcionando não apenas economias a longo prazo, mas também contribuindo para um futuro mais
                        sustentável.
                    </p>
                </div>
                <div class="col">
                    <img class="img-standard" src="assets/painel.jpeg">
                </div>
            </div>
        </div>
        <div class="container pad">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col">
                    <img class="img-standard" src="assets/consultoria.jpeg">
                </div>
                <div class="col">
                    <p>
                        2. Consultoria em Eficiência Energética:
                        Entendemos que a eficiência energética desempenha um papel fundamental na redução do consumo de
                        energia e nos custos associados. É por isso que oferecemos serviços abrangentes de consultoria
                        em eficiência energética. Nossa equipe de especialistas realiza avaliações detalhadas das
                        instalações dos clientes, identificando áreas de desperdício e oportunidades de melhoria. A
                        partir dessas análises, desenvolvemos estratégias personalizadas para aumentar a eficiência
                        energética, reduzindo o consumo desnecessário e os custos associados
                    </p>
                </div>
            </div>
        </div>
        <div class="container pad pad">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col">
                    <p>
                        Benefícios de nossos serviços:
                        <br>
                        -Redução das contas de energia a longo prazo.
                        <br>
                        -Contribuição para a preservação do meio ambiente, reduzindo as emissões de carbono.
                        <br>
                        -Aumento da independência energética, aproveitando fontes de energia renovável.
                        <br>
                        -Orientação especializada para otimizar o consumo de energia e reduzir desperdícios.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>